#main_root {
	display:flex;
	flex-flow:row nowrap;
	justify-content: flex-around;
	align-items: stretch;
	width:100%;
	height:100%;
}

	#main_pane {
		flex-grow:7;
		display:flex;
		flex-flow:column nowrap;
		align-items: stretch;
	}
		#controls {
			display:flex;
			flex-flow:column nowrap;
			align-items: stretch;
		}
			#controls form {
				display:flex;
				flex-flow:row nowrap;
				justify-content: flex-around;
			}
				#controls #guess_input {
					flex-grow:1;
				}	
		#play_area {
			flex-grow:1;
			display:flex;
			flex-flow:column nowrap;
			align-items: stretch;
		}


	#main_nav {
		flex-grow:3;
		display:flex;
		flex-flow:column nowrap;
		align-items: stretch;
	}
		#taglists {
			display:flex;
			flex-flow:column nowrap;
			align-items: stretch;
		}
		#posts > ul {

		}


	.hidden, #main_image_shadow {
		display:none;
	}
	#main_image {
		height: 100%;
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	#main_image_container {
		height:100%;
	}
	#main_pane.ongoing_hide #main_image_container, #main_pane.unstarted #main_image_container  {
		display:none;
	}
	
	#main_pane.ongoing_show #main_image_container {
		flex-grow:1;
	}
	#main_pane.ongoing_show #main_taglist_container, #main_pane.unstarted #main_taglist_container {
		display:none;
	}

	#main_pane.finished #main_image_container {
		flex-grow: 7;
	}
	#main_pane.finished #main_taglist_container {
		flex-grow: 3;
	}

